/* Add Outfit font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Outfit', sans-serif;
}

input[type="text"] {
    border-radius: 8px;
}
